<h1>Listing places</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>pic path</th>
      <th>name</th>
      <th>discription</th>
      <th>prefecture</th>
      <th>city</th>
      <th>suit climate</th>
      <th>cost</th>
      <th>parking cost</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= image_tag place.place_pic_path, size:'200x200', class: 'img-rounded' %></td>
        <td><%= place.place_name %></td>
        <td><%= place.place_discription %></td>
        <td><%= place.place_prefecture %></td>
        <td><%= place.place_city %></td>
        <td><%= place.place_suit_climate %></td>
        <td><%= place.place_cost %></td>
        <td><%= place.place_parking_cost %></td>
        <td><%= link_to '記録', new_activity_path %></td>
        <td><%= link_to '詳細', place %></td>
        <td><%= link_to '編集', edit_place_path(place) %></td>
        <td><%= link_to '削除', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
